.Contact_Photo{
  width: 25%;
  float: left;
}

.Contact_Info{
  text-align: left;
  margin-bottom: 10%;
}

h1{
  font-size: 3em;
}

h2{
  text-align: left;
  margin: 0;
  margin-left: 10%;
  padding: 0;
}

p img{
  padding-right: 10px;
}
