header{
  background-color: maroon;
  justify-content: space-between;
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

header #logo{
  padding: 0px;
}

header #logo img{
  height: 96px;
  padding: 0px;
}

header nav ul{
  margin: 0px;
  padding: 0px;
  display:flex;
  justify-content: center;
}

header nav ul li{
  margin: 0px;
  padding: 0px;
  text-align: center;
  list-style-type: none;
}

header nav ul li a{
  padding: 41px 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s linear;
}

a:hover{
  background-color: gold;
}

#active{
  background-color: gray;
}
body{
  color: #cd853f;
  text-align: center;
  background-color: maroon;
  padding: 0px;
  margin: 0px;
}

body p{
  font-size: 20px;
}

body h1{
  font-size: 3em;
}
