body{
  background-color: maroon;
  background-image: url('../images/backgrd.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

body p{
  margin: auto;

}

#homepageimage{
  width: 50%;
  height: auto;
}
