body{
  background-color: maroon;
  background-image: url('../images/backgrd.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

body p{
  width: 48em;
  margin: auto;
  padding: 10px;
}

#homepageimage{
  width: 50%;
  height: auto;
}
