a{
  text-decoration: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#product{
  margin: 7.5px;
  width: 400px;
  height: 500px;
  position: relative;
  transition: .3s linear;
}

#product img{
  width: 400px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}

h3{
  width: 100%;
  color: #41210F;
  background-color: #cd853f
}

#buy-link h2{
  width: 40%;
  border: 0;
  margin: auto;
  color:  #cd853f;
  text-decoration: none;
  padding: 10px;
  border-radius: 35%;
  background-color: #41210F;
}

.text{
  display: none;
  padding: 0px 50px;
  width:300px;
  position: absolute;
  top: 14px;
}

#product:hover img{
    filter:brightness(40%);
}

#product:hover .text{
  display:block;
  .text display: block;
  color: white;
}
