.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#product{
  margin: 15px;
  width: 400px;
  height: 500px;
  position: relative;
  transition: .3s linear;
}

#product img{
  width: 400px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
}

.text{
  display: none;
  padding: 0px 50px;
  width:300px;
  position: absolute;
  top: 14px;
}

#product:hover img{
    filter:brightness(50%);
}

#product:hover .text{
  display:block;
  .text display: block;
  color: white;
}
