.content img, p{
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.content{
  margin: 10%;
}

.content img{
  width: 49%;
  height: 49%;
}

p{
  padding-bottom: 1em;
  text-align: left;
  width: 50%
}

body h1{
  font-size: 3em;
  margin: 0px;
}
